@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$hoverColor: #C7A17A;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #020204;
    font-family: 'Jost', sans-serif;
    color: #fff;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{

    hr{
        border-color: #32323D;
    }

    &__top{
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-lng{
            display: flex;
            align-items: center;
            gap: 10px;
            margin-top: 6px;
            margin-bottom: 8px;

            p{
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                text-transform: uppercase;
                transition: .4s all ease;

                &:hover{
                    color: $hoverColor;
                    cursor: pointer;
                }
            }
        }
        
        &-phone{

            a{
                color: #fff;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                text-transform: uppercase;
                text-decoration: none;
                transition: .4s all ease;

                &:hover{
                    color: $hoverColor;
                    cursor: pointer;
                }
            }
        }
    }

    &__bot{
        margin-top: 36px;
        margin-bottom: 33px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .hamburger{
            display: none;
            cursor: pointer;
        }
        
        .bar{
            display: block;
            width: 30px;
            height: 3px;
            background-color: #fff;
            margin: 5px auto;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }
        
        @media (max-width: 768px) {
            .header__bot-logo{
                display: none;
            }

            .hamburger{
                display: block;
            }
        
            .hamburger.active .bar:nth-child(2){
                opacity: 0;
            }
            .hamburger.active .bar:nth-child(1){
                transform: translateY(8px) rotate(45deg);
            }
            .hamburger.active .bar:nth-child(3){
                transform: translateY(-8px) rotate(-45deg);
            }
        
            .nav__menu{
                position: fixed;
                left: -100%;
                top: 70px;
                gap: 0;
                flex-direction: column;
                background-color: rgba($color: #000000, $alpha: 0.5);
                width: 100%;
                text-align: center;
                transition: .3s;
        
                &-item{
                    margin: 16px 0px;
                }
        
                &.active{
                    left: 0;
                }
            }
            
        }

        .nav__menu{
            display: flex;
            align-items: center;
            gap: 35px;
            list-style-type: none;

            &-item a{
                color: #fff;
                font-size: 15px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                text-transform: uppercase;
                transition: .4s all ease;
                text-decoration: none;

                &:hover{
                    color: $hoverColor;
                }
            }
        }

        &-logo{
            position: absolute;
            left: 50%;
        }

        &-icons{
            display: flex;
            gap: 30px;

            svg:nth-child(1):hover, svg:nth-child(2):hover, svg:nth-child(3):hover{
                cursor: pointer;
                filter: blur(1px);
            }

            .is_liked{
                display: none;
            }
        }
    }
}

.hero{
    background: url(../images/hero.jpg) top center;

    &__title{
        max-width: 590px;
        margin-top: 199px;

        h1{
            font-size: 60px;
            font-style: normal;
            font-weight: 900;
            line-height: 144%; /* 86.4px */
            text-transform: uppercase;
        }
    }

    &__subtitle{
        max-width: 535px;
        margin-top: 35px;

        p{
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    &__btns{
        margin-top: 35px;
        display: flex;
        gap: 20px;
        align-items: center;
        padding-bottom: 198px;

        a{
            text-decoration: none;
            color: #fff;
            font-size: 15px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 1.5px;
            text-transform: uppercase;
            transition: .4s all ease;
        }

        :nth-child(1){
            padding: 16px 60px;
            background-color: $hoverColor;
            border-radius: 10px;

            &:hover{
                color: $hoverColor;
                background-color: #fff;
            }
        }

        :nth-child(2){
            padding: 16px 51px;
            background-color: transparent;
            border: 1px solid #666681;
            border-radius: 10px;

            &:hover{
                background-color: rgba($color: #000000, $alpha: 0.3);
                border: 1px solid $hoverColor;
            }
        }
    }
}

.roasted{
    display: flex;
    margin-top: 100px;
    margin-bottom: 80px;
    align-items: center;

    &__image {

        img{
            max-width: 100%;
            height: auto;
            border-radius: 10px 0px 0px 10px;
        }
    }
    

    &__info{
        background-color: #14141D;
        border-radius: 0px 10px 10px 0px;
        padding-left: 29px;
        margin-top: -6px;
        height: 325px;

        h2{
            margin-top: 30px;
            margin-bottom: 15px;
            max-width: 227px;
            font-size: 24px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            text-transform: uppercase;
        }

        p{
            margin-bottom: 42px;
            margin-right: 73px;
            max-width: 498px;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}

.catalog{

    &__title{
        margin-bottom: 42px;

        h2{
            font-size: 40px;
            font-style: normal;
            font-weight: 900;
            line-height: 144%; /* 57.6px */
            text-transform: uppercase;
        }
    }
    &__cards{
        margin-bottom: 80px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 21px;
        grid-row-gap: 21px;

        &-card{
            padding: 20px;
            width: 386px;
            background-color: #14141D;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            transition: .4s all ease;

            img{
                align-self: center;
                margin-bottom: 42px;
            }

            h2{
                display: inline;
                font-size: 24px;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
                text-transform: uppercase;
            }

            &-footer{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 30px;
                
                .discount_price{
                    color: #818181;
                    text-decoration: line-through;
                    margin-left: -150px;
                }

                p{
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    text-transform: uppercase;
                }

                svg:hover{
                    cursor: pointer;
                }
            }

            &:hover{
                background-color: #22222F;
            }
        }
    }
}

.news{
    margin-bottom: 80px;

    &__title{
        margin-bottom: 40px;

        h2{
            font-size: 40px;
            font-style: normal;
            font-weight: 900;
            line-height: 144%; /* 57.6px */
            text-transform: uppercase;
        }
    }

    &__cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 21px;
        grid-row-gap: 21px;

        &-card{

            img{
                max-width: 100%;
            }

            &-info{
                margin-top: -8px;
                background-color: #14141D;;
                padding: 21px;
                border-radius: 0px 0px 10px 10px;
                max-width: 386px;

                h2{
                    margin-bottom: 13px;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 900;
                    line-height: normal;
                    text-transform: uppercase;
                }

                p{
                    margin-bottom: 22px;
                    color: #DFDFDF;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }
    }
}

.footer {

    .container{
        display: flex;
        justify-content: space-between;
    }

    hr{
        border: none;
        background-color: #14141D;
        height: 2px;
    }

    &__logo{
        display: flex;
        align-items: center;
        gap: 4px;
        margin-bottom: 132px;
        margin-top: 78px;
        
        h2{
            color: #F8DABF;
            font-size: 20px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            text-transform: uppercase;
        }
    }

    &__list-1, &__list-2{
        margin-top: 78px;
        ul{
            list-style-type: none;
            gap: 20px;
            display: flex;
            flex-direction: column;

            a{
                color: #fff;
                text-decoration: none;
                font-size: 15px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                text-transform: uppercase;
                transition: .4s all ease;

                &:hover{
                    color: $hoverColor;
                }
            }
        }
    }
}



//RESPONSIVE DESIGN

@media (max-width: 1200px) {
    .container{
        padding: 0px 20px;
    }

    .roasted{
        flex-direction: column;
        gap: 10px;

        &__image img, &__info{
            border-radius: 10px;
        }

        &__info{
            height: auto;
        }
    }

    .catalog__cards{
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
    }

    .news__cards{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        place-items: center;
    }
}

@media (max-width: 835px){
    .catalog__cards{
        grid-template-columns: 1fr;
        place-items: center;
    }

    .news__cards{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 570px){
    .footer .container{
        flex-direction: column;
        align-items: center;
        text-align: center
    }

    .footer__logo{
        margin-top: 40px;
        margin-bottom: 0px;
    }

    .footer__list-1, .footer__list-2{
        margin-top: 20px;
    }

    .footer__list-2{
        margin-bottom: 20px;
    }
}

@media (max-width: 470px){
    .hero__title{
        margin-top: 110px;

        h1{
            font-size: 50px;
        }
    }
    
    .hero__btns{
        flex-direction: column;
    }

    .roasted{
        margin-top: 30px;

        &__info {

            p{
                margin-right: 29px;
                font-size: 16px;
            }
    
            h2{
                margin-right: 29px;
                text-align: center;
            }
        }
    }
}

@media (max-width: 430px){
    .catalog__cards-card, .news__cards-card{
        max-width: 350px;
    }
}

@media (max-width: 390px) {
    .catalog__cards-card, .news__cards-card{
        max-width: 310px;
    }
    .catalog__cards-card-footer .discount_price{
        margin-left: -105px;
    }
}

@media (max-width: 360px) {
    .catalog__cards-card, .news__cards-card{
        max-width: 280px;
    }
    .catalog__cards-card-footer .discount_price{
        margin-left: -85px;
    }
}

@media (max-width: 320px){
    .hero__btns{
        padding-bottom: 160px;
    }
}